<!DOCTYPE html>
<html  lang="en">
<head>
  <title>forex-steps</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1,user-scalable=yes">
  <meta charset="UTF-8" />

  <meta property="analytics-s-channel" content="home" />
  <meta name="title" content="forex-steps">
  <meta name="description" content="Forex, also known as foreign exchange or FX trading, is the conversion of one currency into another. It is one of the most actively traded markets in the world, with an average daily trading volume of $5 trillion. Take a closer look at everything you’ll need to know about forex, including what it is, how you trade it and how leverage in forex works.">
  <meta name="keywords" content="Forex, economy, news, ">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/fontawesome-free-5.13.1-web/css/all.css">
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" sizes="96x96" href="image/favicon-32x32.png">
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
  <script src="js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous">
  </script>
 
    <script src="js/bootstrap.min.js"></script>


<!-- Include js plugin -->
<script src="OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
<!--for nfx widget-->
<script type="text/javascript" src="//world.nsfx.com/tabs/partners_widgets/resources/scripts/widgetimplementation.js"></script>
<script type="text/javascript" src="https://world.nsfx.com/tabs/partners_widgets/resources/scripts/widgetimplementation.js"></script>
<script type="text/javascript" src="//world.nsfx.com/tabs/partners_widgets/resources/scripts/jquery.js"></script>
<script type="text/javascript" src="//world.nsfx.com/tabs/partners_widgets/resources/scripts/jquery.js"></script>
<!--//end nfxs widget-->

  <!--cdn angular-->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js" ></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/common.js"></script>

</head>

<body onload="startTime(),startTime_aus(),startTime_tokyo(),startTime_lndn(),startTime_nwy()" ng-app="myApp" ng-controller="myCtrl">
 
  
  <div class="container d-flex justify-content-center" data-loading>
    <div class="margin-spinner">
       <img src="image/logo-edit.png" alt="logo" class="img-responsive animate__animated animate__pulse  animate__infinite	infinite spinner-img">
    </div>
  </div>
  <div class="" data-loaded>
 <div class="container-fluid px-0">
  <div class="container ">
       
    <!--top header-->
    <nav class="navbar navbar-light bg-light" role="navigation">
      <a  href="index.html"  class="logo-pos" title="home">
        <img src="image/logo-edit.png" alt="logo" class="img-responsive logo-nav" >
      </a>
    </nav>
    <!--//top header-->
    <!--ads banner-->
   <aside class="row my-3">
     <div class="col-sm-6">
       <img class="intro-ads-banner" alt="" src="image/ads-intro.gif">
     </div>
     <div class="col-sm-6">
      <img class="intro-ads-banner" alt="" src="image/ads-2-intro.gif">
    </div> 
    </aside>
    <!--//ads banner-->      
    <!--nav cat-->

    <nav class="navbar navbar-expand-lg res-nav bg-nav-cat px-0 navbar-dark p-0" role="navigation">
  
      <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar_top">
        <span class="navbar-toggler-icon"></span>
      </button>
     
        <div class="collapse navbar-collapse py-0" id="collapsibleNavbar_top">
          <ul class="navbar-nav mr-2 ml-auto ">
            <li class="nav-item active" >
              <a title="home" class="nav-link" href="index.html">
                الرئيسية
              </a>
            </li>
          
            <li class="nav-item" ng-repeat="category in arrCategory">
             
                <a title="{{category.name}}" class="nav-link cat-link" ng-click="setCategoryId(category.id)">
                  {{category.name}}
                </a>
             
            </li>

                       
          </ul>
        </div>
      </nav>
     <!--//nav cat-->

     <!--nav forex-->

    <nav class="navbar navbar-expand-lg res-nav bg-nav-forex px-0 navbar-dark p-0" role="navigation">
  
        <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar_bottom">
          <span class="navbar-toggler-icon"></span>
        </button>
      
          <div class="collapse navbar-collapse py-0" id="collapsibleNavbar_bottom">
            <ul class="navbar-nav mr-2 ml-auto ">
              <li class="nav-item active" ng-repeat="category in arrCategory">
                <a class="nav-link cat-link" href="#{{category.id}}" title="{{category.name}}">
                  {{category.name}}
                </a>
              </li>
   
            </ul>
          </div>
        </nav>
       <!--//nav forex-->

 
        <!--car- news  --> 
        <div class="bg-w py-2">
         <!--time part-->
         <div class="d-flex flex-row-reverse   align-items-center">
            <!--currency ticker  --> 
            
            <div class="col-sm-11 px-0">
               <ul class="time-wrap"> 
                 
                <li class="time-item">
                 
                 <span class="h-n-lg">GMT  </span>
                
                  <span id="time-clock"></span> 
               
                  <span class="h-n-sm">GMT<i class="far fa-clock mx-2"></i> </span> 
                  
                 
                     
                  
                
                 </li>
                 <li class="time-item">
                  استراليا
                  <span id="time-clock-aus"></span>
                 </li>
                 <li class="time-item">
                   طوكيو
                   <span id="time-clock-tokyo"></span>    
                 </li>
                 <li class="time-item">
                   لندن
                   <span id="time-clock-lndn"></span>  
                 </li>
                 <li class="time-item">
                   نيويورك
                   <span id="time-clock-nwy"></span>
                 </li>
               </ul> 
             </div>
             
         </div>

          <div class="d-flex flex-row-reverse   align-items-center">
               <!--currency ticker  --> 
             
               <div class="col-sm-8   p-2  " >
                 <span class="card-index-news-title mb-0 marq-news-title "> :اخر اخبار</span>
                 <marquee class="marq-news" direction="right" scrolldelay="10" >

                   <span class="marq-news-apan" ng-repeat="title in arrLatestNews">{{title.title}} </span>
                   
                   <!-- <span class="marq-news-apan">تم مناقشة المس قانون الامس في موتمر حضره عدد كبير من الزوار و </span>
                   <span class="marq-news-apan">تم مناقشة المس قانون الامس في موتمر حضره عدد كبير من الزوار و </span> -->
                 
                  </marquee>
               </div>
             
               <div class="col-sm-4     ">
                 <div class="input-group  py-2">
                   <div class="input-group-prepend">
                     <button class="btn btn-bg" type="button" id="button-addon1"><i
                       class="fa fa-search" aria-hidden="true"></i>
                     </button>
                   </div>
                   <input type="text" class="form-control" placeholder="بحث"
                    aria-label="Example text with button addon" aria-describedby="button-addon1">
                 </div>
               </div> 
             <!--//currency ticker  -->  
           
           </div>
        </div>
        
   <!--//car news-->
      <div class="row">
          <div class="space-10"></div>
      </div>
      <!--car-->
      <section class="row d-flex mt-3 mb-5 flex-row-reverse">
        <div class="col-sm-intro-car pr-0 ">
          <div id="car-news" class="carousel slide" data-ride="carousel">
           
            <div class="carousel-inner">
              <div class="carousel-item" ng-class="{'active':$index==0}" ng-repeat="news in arrImportantNews">
                <div class="card card-side-news-main">
                  <a ng-click="newsDetails(news.id)"  class="link-for-main-part">
                  <img ng-src="{{news.image}}" class="card-side-new-img-main  img-responsive" alt="...">
                  <div class=" side-news-title-wrap">
                     <p class="card-text news-main-title">{{news.title}}</p>
                     <div class="news-details"  ng-bind-html="news.body"></div> 
                     <p class="more-det-link" >المزيد</p> 
                  </div> 
                  </a>
                </div>
            
              </div>

            </div>
            <ol class="carousel-indicators carousel-indicators-style">
              <li data-target="#car-news" data-slide-to="0" class="active"></li>
              <li data-target="#car-news" data-slide-to="1"></li>
              <li data-target="#car-news" data-slide-to="2"></li>
           </ol>
        
      </div>

        <article class="card card-index-news intro-card" ng-repeat="CategoryImportantNews in arrCategoryImportantNews.relatedNews">
          <a title="{{CategoryImportantNews.title}}" ng-click="newsDetails(CategoryImportantNews.id)">
            <img ng-src="{{CategoryImportantNews.image}}" class="card-img-top pro-img img-responsive" alt="...">
            <div class="card-body">
                  <h6 class="card-title card-index-news-title">{{CategoryImportantNews.title}}</h6> 
                  <p class="card-text card-index-news-txt" ng-bind-html="CategoryImportantNews.body"></p> 
           </div>   
          </a>
        </article>
        <a title="next" style="color: blue;" ng-click="setCategoryId(arrCategoryImportantNews.id)">
          <p>&laquo; المزيد</p>
        </a>
    
      </div>
      <div class="col-sm-intro-forex ">
        <div class="cont-rel"> 
          <iframe id="iframe-c97cd9b8-6370-44b0-a294-e81663f40849"
          class="nsfx_widget" src="https://www.nsfx.com/nsfx-widgets/quotes_table_widget.php?lang=ar&amp;theme=dark&amp;aid=M90081&amp;fid=c97cd9b8-6370-44b0-a294-e81663f40849&amp;cid=1e379d82-a0af-4d58-8c34-9719b00d5c7c&amp;lp=https://nsfx.co/r/EZ7&amp;fid=c97cd9b8-6370-44b0-a294-e81663f40849&amp;cid=1e379d82-a0af-4d58-8c34-9719b00d5c7c" width="100%" marginheight="0" frameborder="0" scrolling="no"
          style="display: block; overflow: hidden; height: 527px;"></iframe>
        </div>
      </div> 

      </section>
      <!--//car--> 
     
        <!--seond part-->
             <!--title-->
             <!-- Category -->
           <div> 
             <div ng-repeat="categoryNews in arrCategoriesAndNews">

          
             <div class="row  d-flex mt-3 mb-5 flex-row-reverse" >
                <div class="col-sm-12 " >
                    <div class="news-heading-wrap ">
                         <div class="news-in-heading-title-wrap news-in-heading" id={{categoryNews.id}}>
                           <a ng-click="setCategoryId(categoryNews.id)" title="{{categoryNews.name}}"> 
                             <h5 class=""  id="meal_plans">
                               {{categoryNews.name}}
                              </h5>
                            </a>  
                         </div>
                    </div> 
                </div>
            </div>
            
            <!--//title-->     
       
            
            
            <div class="row  d-flex mt-3 mb-5 flex-row-reverse">
               <div class="col-sm-8 j-c-sm px-0">
                
                <!-- News -->
                 <article class="card card-index-news" ng-repeat="relatedNews in categoryNews.relatedNews">
                     <a title="{{relatedNews.title}}" ng-click="newsDetails(relatedNews.id)"><img ng-src="{{relatedNews.image}}" class="card-img-top pro-img img-responsive" alt="...">
                       <div class="card-body">
                             <h6 class="card-title card-index-news-title">{{relatedNews.title}}</h6>
                        
                             <p class="card-text card-index-news-txt" ng-bind-html="relatedNews.body">
                             </p> 
                      </div>   
                     </a>
                 </article>
                  <a title="more" style="color: blue;" ng-click="setCategoryId(categoryNews.id)">
                    <p >&laquo; المزيد</p>
                  </a>
               </div>
               
               <!-- Ad -->
               <aside class="col-sm-4" ng-repeat="relatedAds in categoryNews.relatedAds">
                 <div class="cont-rel"> 
                  <a href="{{relatedAds.link}}" target="_blank" href="{{relatedAds.link}}">
                   <img ng-src="{{relatedAds.image}}"alt="ads"class="my-2 img-responsive ads-img">
                  </a>
                   <div class="overlay">
                      <p class="ads-txt mb-0">ads choice</p>  
                   </div>
                 </div>
               </aside> 
    
            </div> 
             </div> 
           </div>  
        <!--//second part-->
            

      </div>
    
          <div class="row">
          <div class="space-10"></div>
      </div>
   
<!--footer-->
<footer class="footer-bg ">
  <div class="row justify-content-center py-5">
   <div class="col-sm-3">
    
     <ul class="list ">
       <li> <h3 class="footer-title">اشترك عبر </h3></li>
       <li class="d-flex justify-content-center">
         <a title="facebook" href="https://www.facebook.com/%D8%AE%D8%B7%D9%88%D8%A7%D8%AA-%D8%A7%D9%84%D9%81%D9%88%D8%B1%D9%83%D8%B3-114443173634440"class="mx-3"><i class="fab fa-facebook-f"></i></a>
         <!-- <a href="#" class="mx-3"><i class="fab fa-instagram"></i></a>     -->
       </li>
     </ul>
   </div>

   <div class="col-sm-3 d-flex justify-content-center">
     
     <a  href="index.html">
       <img src="image/logo-edit.png"  class="img-responsive logo-nav" >
     </a>
   </div>
   
   <div class="col-sm-3 ">
     
     <ul class="list list-link" role="navigation">
     <li><h3 class="footer-title">روابط سريعه</h3></li>

      <li class="nav-item active" >
        <a title="home" class="nav-link" href="index.html">
          الرئيسية
        </a>
      </li>
    
      <li class="nav-item" ng-repeat="category in arrCategory">
       
          <a title="{{category.name}}" class="nav-link cat-link" ng-click="setCategoryId(category.id)">
            {{category.name}}
          </a>
       
      </li>

                 
    </ul>

     <!-- <li><a href="#">اسعار العملات</a></li>
     <li><a href="#">شركات فوركس</a></li> 
     <li><a href="#">تحويل العملات</a></li> -->
 
     </ul>
   </div>

  </div>
</div>
<!--bottom part-->
<div class="row bg-light py-3 justify-content-center">
  <p class="dsg mx-1"> design and development by<a title="giraffe code" class="giraffe-code-link" href="http://www.giraffecode.com/"> giraffe code.</a></p>
      <p class="dsg mx-1"><i class="far fa-copyright"></i>forex steps حقوق النشر محفوظة</p>
</div>
<!--//bottom part-->
<!--footer-->
  </div>
</div>
</body>
<script>
if (document.body.clientWidth < 576) {
  viewport = document.querySelector("meta[name=viewport]");
  viewport.setAttribute('content', 'width=device-width, initial-scale=0.1, user-scalable=yes');
  
}

function startTime() {
  var today = new Date();
  var h = today.getUTCHours();
  var m = today.getMinutes();
 /* var s = today.getSeconds();*/
  m = checkTime(m);
 
  document.getElementById('time-clock').innerHTML =
  h + ":" + m + ":";
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
};
function startTime_aus() {
  var today = new Date();
  var h = today.getUTCHours()+11;
  var m = today.getMinutes();
 /* var s = today.getSeconds();*/
  m = checkTime(m);
  /*s = checkTime(s);*/
  document.getElementById('time-clock-aus').innerHTML =
  h + ":" + m + ":" ;
  var t = setTimeout(startTime_aus, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
};
function startTime_tokyo() {
  var today = new Date();
  var h = today.getUTCHours()+9;
  var m = today.getMinutes();
  /*var s = today.getSeconds();*/
  m = checkTime(m);
  /*s = checkTime(s);*/
  document.getElementById('time-clock-tokyo').innerHTML =
  h + ":" + m + ":" ;
  var t = setTimeout(startTime_tokyo, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
};
function startTime_lndn() {
  var today = new Date();
  var h = today.getUTCHours()+1;
  var m = today.getMinutes();
/*  var s = today.getSeconds();*/
  m = checkTime(m);
  
  document.getElementById('time-clock-lndn').innerHTML =
  h + ":" + m + ":" ;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
};
function startTime_nwy() {
  var today = new Date();
  var h = today.getUTCHours()-4;
  var m = today.getMinutes();
/* var s = today.getSeconds()*/
  m = checkTime(m);
 
  document.getElementById('time-clock-nwy').innerHTML =
  h + ":" + m + ":" ;
  var t = setTimeout(startTime_aus, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
};

</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZQ52M4DBZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3ZQ52M4DBZ');
</script>